<!DOCTYPE html>
  <head>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>

    <h1>TempMessenger</h1>

    <!-- We use message polling, fetch data with no refresh -->
    <div id="messageContainer"></div>

    <form action="/messages" id="postMessage" method="post">
      <input type="text" placeholder="Post Message" name="message">
      <input type="submit" value="Post">
    </form>

    <script>
      $("#postMessage").submit(function(event) {
        event.preventDefault()
        var $form = $(this),
          message = $form.find("input[name='message']").val(),
          url = $form.attr("action");

        console.log("Message", message)

        $.ajax({
          type:"POST",
          url: url,
          data: JSON.stringify({ message: message }),
          contentType: "application/json",
          dataType: "json",
          success: function() { location.reload(); }
        });
      });

      function messagePoll() {
        $.ajax({
          type: "GET",
          url: "/messages",
          dataType: "json",
          success: function(data) { 
            updateMessages(data);
          },
          timeout: 500,
          complete: setTimeout(messagePoll, 1000), // onComplete call messagePoll() again after 1000 mill
        })
      }

      messagePoll()

      function updateMessages(messages) {
        var $messageContainer = $('#messageContainer');
        var messageList = [];
        var emptyMessages = '<p>No Messages</p>';
        if (messages.length === 0) {
          $messageContainer.html(emptyMessages)
        } else {
          $.each(messages, function(index, value) {
            var message = $(value.message).text() || value.message;
            messageList.push('<p>' + message + '</p>');
          });
          $messageContainer.html(messageList);
        }
      }
    </script>
  </body>
</html>